@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /* color: white; */
}

ul,
ol {
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --orangeColor: #FD6E0A;
}
img {
    max-width: 100%;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}

/*========== navbar  =======*/
header {
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
    background-color: #FFF8F3;
    margin-bottom: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    /* background: whitesmoke; */
    padding: 20px 0px 100px 0px;
}

nav h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}
.text_primary {
    color: var(--orangeColor);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
nav ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}

nav ul button {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: var(--orangeColor);
    border-radius: 5px;
    padding: 10px;
    border: none;
}

/*========== header banner  =======*/
.header_banner {
    display: flex;
    align-items: center;
}
.header_banner > * {
    flex-basis: 100%;
}
.banner_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.banner_info h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.banner_info h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}
.banner_info p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.banner_btn {
    display: flex;
    gap: 30px;
}
/* .banner_img {
    text-align: right;
} */
.banner_btn a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid;
    color: var(--orangeColor);
    border-radius: 5px;
    padding: 8px 20px;
   
}
.banner_btn a:hover {
    background: var(--orangeColor);
    border: none;
     color: #FFFFFF;
}

/*========== about section  =======*/
.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.about_discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.about_title {
    text-align: center;
}
.about_title h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    padding-bottom: 10px;
}
.about_title p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.about_info_container {
    display: flex;
    gap: 40px;
    text-align: center;
}
.about_info::first-line{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.about_info p{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}